.header {
  width: 100%;
  height: 225px;
  display: flex;
  align-items: center;
  justify-content: center;

  gap: 16px;

  background-color: #ddd2ef;
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  gap: 8px;

  width: 100%;
  max-width: 968px;

  padding: 0 16px;
}

.subTitle {
  font-size: 14px;
  color: var(--roxo);
}
